<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <a class="navbar-brand" href="#">EZ-Turzumah</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="list-inline-item">
        <a routerLink="/phrases" class="btn btn-secondary active">List All Phrases</a>
      </li>

      <li class="list-inline-item">
        <a routerLink="/addphrases" class="btn btn-info">Add a Phrase</a>
      </li>

      <li class="list-inline-item">
        <a routerLink="/randomphrase" class="btn btn-info">Random Phrase</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>

<!-- Random Component -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">

          <h2 class="card-title text-white">{{ phrase.term }}</h2>
          <h6 class="text-white">{{ phrase.definition }}</h6>
          <p class="text-white">{{phrase.sentenceExample}}</p>
          <sub class="text-white"><i>{{phrase.origin}}</i></sub>

        </div>
      </div>
    </div>
  </div>
</div>

<div><router-outlet></router-outlet></div>
