<!-- <div class="container">

  <div class="card text-center" style="min-width: 40rem" >
    <div class="card-body">
      <h5 class="card-title">{{phrase.term}}</h5>
      <p class="card-text">{{phrase.definition}}</p>
      <sub><i>{{phrase.origin}}</i></sub>
    </div>
  </div>

</div> -->

<div class="container">

  <div class="card text-center text-white bg-info"> 
    <div class="card-header">{{phrase.term}}</div>
    <div class="card-body">
      <h6 class="card-title">{{phrase.definition}}</h6>
      <p class="card-text">{{phrase.sentenceExample}}</p>
      <sub><i>{{phrase.origin}}</i></sub>
    </div>
  </div>

</div>